<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click</title>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/js/face-api.min.js"></script>
    <script defer src="/js/click.js"></script>
    <style>
        canvas {
            width: 400px;
        }
    </style>
</head>
<body>
    <video id="video" width="1280" height="720" autoplay="true" muted></video>
    <div>
        <button onclick="clickPic()">Click</button>
    </div>
    <br>
    <div class="myDiv">
        <div id="uploadDiv">
        </div>
        <br>
        <input id="username" type="text" placeholder="username">
        <button onclick="sendPic()">Send</button>
    </div>
</body>
</html>