<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <style>
        body {
            margin-top: 75px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        a {
            margin-top: 25px;
            font-size: 3em;
            color: black;
        }
    </style>
</head>
<body>
    <a href="/clickPic">Register User</a>
    <a href="/match">Match User</a>
</body>
</html>